    <div class="container m-4">

        <p class="title is-4 mt-4">Recent Projects:</p>


        {{!-- PROJECTS PULLED FROM DB--}}
        {{#each projects as |project|}}
        <div class="card m-4">
            <div class="card-content post-preview" data-id="{{this.id}}">
                <p class="title is-4" data-id="{{this.id}}">{{this.title}}</p>
                <p class="subtitle" data-id="{{this.id}}">{{this.user.name}} // <time datetime="2016-1-1" data-id="{{this.id}}">11:09 PM - 14 Dec 2023</time></p>
            </div>
        </div>
        {{/each}}
    </div>

                {{!-- TEXT AREA INPUT --}}
                <div class="field">
                    <label class="label has-text-blue bold">New Reply</label>
                    <div class="control">
                    <textarea class="textarea" placeholder="Write your comment here!"></textarea>
                    </div>
                </div>

                {{!-- FILE UPLOAD --}}
                <div class="field">
                    <div class="file has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                            <span class="file-cta">
                                <span class="file-label">📁 Choose a file…</span>
                            </span>
                            <span class="file-name">Screen Shot 2017-07-29 at 15.54.25.png</span>
                        </label>
                    </div>
                </div>

                {{!-- SUBMIT/CANCEL BUTTONS --}}
                <div class="field is-grouped">
                <p class="control">
                    <a class="button is-primary">
                    Submit
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                    Cancel
                    </a>
                </p>
                </div>


        </div>
    </div>
</div>
<script src="/js/project.js"></script>


